body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #252525;
}
.title {
  color: rgb(216, 216, 216);
  font-size: 2rem;
}
#grid {
  box-shadow: 10px 10px;
}

.hoverable-black {
  background-color: #000000;
}
button {
  background-color: #373737;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}
button:hover {
  transform: scale(1.2);
}
.footer {
  margin-top: 20px;
  color: #fff;
}
